/*
navy: #001f3f
yellow: #FFDC00
black: #111111
gray: #AAAAAA
silver: #DDDDDD
*/
* {
  min-height: 0;
  min-width: 0;
}

.HomePage {
  margin: 0px;
  padding: 0px;
  border: 0;
  outline: 0;
  top: 0;
  left: 0;
  height: 100%;
}

.HomePage-navbar {
  top: 0px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
}

.HomePage-banner {
  top: 0px;
  position: relative;
  display: block;
  margin: 0px;
  width: 100%;
  height: auto;
  z-index: -1;
  font-size: 0px;
}

.HomePage-banner img{
  width: 100%;
}

.HomePage-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: black;
  height: 100%;
  position: sticky;
  z-index: 0;
  top: 50px;
}

.HomePage-filters button {
  color: white;
  border: none;
  background: black;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  z-index: 0;
}

.HomePage-filters button:hover {
  font-weight: bold;
}

.HomePage-listings{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  position: static;
  outline: 5px solid black;
}

footer{
  height: 400px;
  background-color: black;
}
.HomePage-carousel{
}

.slick-prev{
  left: 5px;
}

.slick-next{
  right: 5px;
}

.slick-next, .slick-prev{
  z-index: 5
}
