.HomePage {
  margin: 0px;
  padding: 0px;
  border: 0; 
  outline: 0;
  top: 0;
  left: 0;
  height: 100%;
}

.HomePage-navbar {
  top: 0px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  width: 100%;
}

.HomePage-banner {
  top: 0px;
  position: relative;
  display: block;
  margin: 0px;
  width: 100%;
  height: auto;
  z-index: -1;
  font-size: 0px;
}

.HomePage-banner img{
  width: 100%;
}

.HomePage-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  position: sticky;
  z-index: 0;
  top: 50px;
}

.HomePage-filters button {
  color: white;
  border: none;
  background: rgba(0,0,0,0.0);
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  z-index: 0;
}

.HomePage-filters button:hover {
  font-weight: bold;
}

.HomePage-listings{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  margin: 50px auto;
  justify-content: space-around;
  position: static;
}

footer{
  height: 400px;
  background-color: #131923;
}
