.HomePage {
  text-align: center;
  margin: 0px;
}

.NavBar{
  top: 0px;
  position: sticky;
}

.banner{
  top: 0px;
  position: relative;
  display: block;
  margin: 0px;
  width: 100%;
  height: auto;
  z-index: -1;
  font-size: 0px;
}

.banner img{
  width: 100%;
}

.Homepage-filters {
  display: flex;
  background-color: black;
  height: 30px;
  position: sticky;
  top: 50px;
}

.Homepage-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  position: sticky;
  top: 50px;
}

button {
  color: white;
  border: none;
  background: rgba(0,0,0,0.0);
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.homePageListings{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  margin: 50px auto;
  justify-content: space-around;
  position: static;
}

footer{
  height: 400px;
  background-color: #131923;
}
