.Listing {
  width: 300px;
  height: 100%;
  margin: 0;
  display: flex;
  background-color: rgba(192,192,192,0.95);
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 2px;
  font-size: 12px;
}

.Listing .Listing-img {
  margin-bottom: 2px solid white;	
}

.Listing .Listing-img img {
  width: 100%;
}

.Listing .Listing-text {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Listing .Listing-text > * {
  display: inline-block;
  text-align: left;
}
.Listing h2{
  width: 100%;
  margin: 0;
}
.Listing span{
  font-size: 20px;
}
.Listing .Listing-text h2{
  display: block;
  margin: 0;
}
.Listing h2{
  display: block;
  margin: 0;
}
/*


.Listing-text h1 {
  border: 3px dotted white;
  flex-grow: 1;
  text-align: left;
  align-self:flex-start;

}

.Listing-text h2 {
  border: 3px dotted white;
  text-align: left;
  flex-grow: 1;
}

.Listing Listing-img img {

}*/
