.Listing {
  border: 3px dotted white;
  margin: 10px;
  display: flex;
  background-color: rgba(192,192,192,0.3);
  height: inherit;
  justify-content: space-between;
}

.Listing-text {
  width: 100%;
  border: 3px dotted white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: flex-start;
}

.Listing-text h1 {
  border: 3px dotted white;
  flex-grow: 1;
  text-align: left;
  align-self:flex-start;

}

.Listing-text h2 {
  border: 3px dotted white;
  text-align: left;
  flex-grow: 1;
}

.Listing-text p {
  border: 3px dotted white;
  text-align: left;
  flex-grow: 1;
}

.Listing img {
  display: block;
  border: 3px dotted white;
}
