.NavBar-list ul {
  margin: 0;
  display: flex;
  background-color: rgba(0,0,0,0.0);
  flex-direction: row;
  justify-content: flex-end;
}

.NavBar-list li {
  border-radius: 5px;
  display: inline-block;
  margin: 20px 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.NavBar-list li a {
   display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}
