.NavBar-list ul {
  margin: 0;
  display: flex;
  background-color: rgba(0,0,0,0.5);
  flex-direction: row;
  justify-content: center;
}

.NavBar-list li {
  border-radius: 5px;
  display: inline-block;
  margin: 10px 10px;
  text-transform: uppercase;
  font-weight: bold;
}

.NavBar-list li a {
   display: block;
   color: #F3F315;
   text-align: center;
   padding: 14px 16px;

   text-decoration: none;
}
