.Profile {
  text-align: center;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.Profile-navbar {
  position: sticky;
  width: 100%;
  top: 0;
}

.Profile-top {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  height: 100%;
  background-color: rgba(153, 153, 153, 0.6);
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px;
  border: 0;
  align: center;
}

.Profile-top-left {
	
}

.Profile-top-left  img{
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 50%;
  overflow: hidden;
}

.Profile-top-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.Profile-top-right {
  text-align: left;
}

.Profile-top-right-header {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 3px solid black;
}

.Profile-social {
  position: relative;
  padding: 0;
}

.Profile-social ul {
  margin: 0px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100%;
  background-color: #131923;
  font-weight: bold;
  color: white;
  list-style-type: none;
}

.Profile-media .slick-slide {
  display: block;
  align-items: center;
  background-color: rgba(153, 153, 153, 0.4); 
}

.Profile-media-container {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: center;
}

.Profile-media-container img{
  width: 50%;
  align: center;
}

.Profile-ads {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  margin: 50px auto;
  justify-content: space-around;
}

.Profile-footer {
  height: 100%;	
}
